{% extends 'indexoffaculty.html' %}
{% block content %}
<br>
<h5>Remove Assignments</h5>
<hr>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Choose Assignment to be Removed
    </button>
    <ul class="dropdown-menu">
        {% for assignment in removeassignments %}
           <li><a class="dropdown-item" href="{% url 'removeassignment' assignment.id %}"">{{assignment.title}} {{assignment.created}}</a></li>
        {% endfor %}


    </ul>
  </div>

	<hr>	
    {% endblock %}
